h1{
    text-align:center;
}


table{
    margin-left: auto;
    margin-right: auto;
    border:1px solid black;
}

table td{
    text-align: center
}

.al{
    text-align:left;
}

.h1{
    background: #E5CCB7;
}

.lhl{
    background: #F4F5F6;
}

